@{
    ViewData["Title"] = "Dashboard";
}

<div class="card">
    <div class="card-body">
        <h3>Hoşgeldin!</h3>
        <p>Ana sayfa</p>
    </div>
</div>

@section Scripts {
    <script>
        console.log("Dashboard loaded");
    </script>
}
