@model IEnumerable<Pazaryeri.Models.Product>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />

<h2>Products</h2>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Listesi</h3>

        <div class="card-tools">
            <a href="/Products/Create" class="btn btn-success btn-sm">Yeni Ürün</a>
            <a href="/Products/ExportExcel" class="btn btn-primary btn-sm ml-2">Excel Export</a>
        </div>
    </div>

    <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="/Products/ImportExcel">
            <div class="input-group mb-3">
                <input type="file" name="file" class="form-control">
                <button class="btn btn-secondary">Excel Import</button>
            </div>
        </form>

        <table id="products" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>
                            <a href="/Products/Edit/@item.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a href="/Products/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#products').DataTable();
    });
</script>
